*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: aliceblue;
    text-align: center;
}

main {
    text-align: center;
}

button {
    background-color: rgb(74, 100, 230);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 5rem;
}

button:hover {
    background-color: white;
    color: rgb(74, 100, 230);
    cursor: pointer;
}

.library {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 6px 20px;
}

.book {
    background-color: aliceblue;
    width: 10rem;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

dialog {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0,0,0,0.4); /* Transparent black background */
    box-sizing: content-box;
    margin: auto;
    padding: 2rem;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }